<header class="pt-4 menu-header">
    <div class="fondo-primary py-3 px-5 menu-container">
        <div class="d-flex flex-wrap align-items-center gap-3">
            <div id="collapse">
                <img src="/images/hamburger.svg" alt="">
            </div>
            <a href="@Url.Action("Index","Home")" class="d-flex align-items-center mb-0 mb-lg-0 text-white text-decoration-none logo">
                <img src="/images/Kelloggs-logo.svg" alt="">
            </a>

            <ul class="nav menu-nav justify-content-evenly">
                <li><a href="@Url.Action("Adulting","Home")" class="nav-link px-2">Adulting</a></li>
                <li><a href="@Url.Action("Actividades","Home")" class="nav-link px-2">Actividades</a></li>
                <li><a href="@Url.Action("Records","Home")" class="nav-link px-2">Records</a></li>
                <li><a href="@Url.Action("Personajes","Home")" class="nav-link px-2">Personajes</a></li>
            </ul>
        </div>
    </div>
</header>
